.options {
  @apply flex flex-col gap-[.5em];

  article.group {
    @apply flex flex-col gap-[.65em];

    &:not(:last-of-type) {
      @apply pb-[1em] border-secondary;

      border-bottom-width: 1px;
      border-style: solid;
    }

    h3.heading {
      @apply font-bold text-color-primary select-none;
    }

    .items {
      @apply flex flex-col gap-[.65em] select-none;

      .item {
        @apply flex flex-col gap-[.4em];

        h4.title {
          @apply text-[.75em] text-color-primary;
        }
      }

      .select {
        .grid {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: .5em;

          @media (max-width: 1500px) {
            grid-template-columns: repeat(4, 1fr);
          }

          @media (max-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
    }
  }
}
