@import "src/assets/styles/templates";

button.languageSwitcher {
  position: relative;

  &:hover {
    .menu {
      display: block;
      pointer-events: all;
    }
  }

  .menu {
    @apply bg-tl-hov-bg z-[1000];

    display: none;
    pointer-events: none;

    position: absolute;
    top: 100%;
    left: 0;
    font-size: .75em;

    .button {
      @extend %flexCenter;

      @apply px-[.75em] py-[.25em] border-secondary-hover;

      justify-content: start;
      border-left-width: 3px;

      &.active {
        @apply border-confirm;
      }

      &:hover {
        @apply bg-secondary;
      }
    }
  }
}
