@font-face {
  font-weight: normal;
  font-family: 'SF Pro Display', serif;
  src: url("src/assets/fonts/SF Pro Fonts/SF-Pro-Display-Regular.otf");
  font-style: normal;
}
@font-face {
  font-weight: normal;
  font-family: 'SF Pro Display', serif;
  src: url("src/assets/fonts/SF Pro Fonts/SF-Pro-Display-RegularItalic.otf");
  font-style: italic;
}

@font-face {
  font-weight: 600;
  font-family: 'SF Pro Display', serif;
  src: url("src/assets/fonts/SF Pro Fonts/SF-Pro-Display-Semibold.otf");
  font-style: normal;
}
@font-face {
  font-weight: 600;
  font-family: 'SF Pro Display', serif;
  src: url("src/assets/fonts/SF Pro Fonts/SF-Pro-Display-SemiboldItalic.otf");
  font-style: italic;
}

@font-face {
  font-weight: 500;
  font-family: 'SF Pro Display', serif;
  src: url("src/assets/fonts/SF Pro Fonts/SF-Pro-Display-Medium.otf");
  font-style: normal;
}
@font-face {
  font-weight: 500;
  font-family: 'SF Pro Display', serif;
  src: url("src/assets/fonts/SF Pro Fonts/SF-Pro-Display-MediumItalic.otf");
  font-style: italic;
}

@font-face {
  font-weight: 700;
  font-family: 'SF Pro Display', serif;
  src: url("src/assets/fonts/SF Pro Fonts/SF-Pro-Display-Bold.otf");
  font-style: normal;
}
@font-face {
  font-weight: 700;
  font-family: 'SF Pro Display', serif;
  src: url("src/assets/fonts/SF Pro Fonts/SF-Pro-Display-BoldItalic.otf");
  font-style: italic;
}

%sfProDisplay {
  font-family: 'SF Pro Display', serif;
}
