@import "src/assets/styles/templates";

header.appFrame {
  --button-height: 1.5em;

  @extend %notSelectable, %draggable;

  // width: 100%;
  width: 100vw;
  // height: 1.5em;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .controls {
    @extend %notDraggable;
  }

  .trafficLights {
    display: flex;
    height: 100%;
  }
}
