@import "src/assets/styles/templates";

.button {
  $transition: .08s ease;

  @extend %flexCenter;
  @extend %notSelectable;

  @apply bg-transparent text-tl-color
         hover:bg-tl-hov-bg hover:text-tl-hov-color;

  &.close {
    @apply hover:bg-tl-hov-quit-bg hover:text-tl-hov-quit-color;
  }

  aspect-ratio: 1.25 / 1;
  cursor: pointer;
  width: var(--button-height);
  height: var(--button-height);
  padding: calc(var(--button-height) * .23);

  transition: $transition background-color,
              $transition color;
}
