@import "src/assets/styles/templates";

.gameCard {
  @apply flex gap-x-[.5em] items-center bg-secondary
         rounded-[.2em] px-[.5em]
         hover:bg-brutal;

  transition: .08s ease background-color;

  // 1em = 15.75em

  .info {
    @apply flex flex-col gap-[.2em] py-[.5em] flex-grow;

    line-height: normal;

    // .7875

    h4, .size {
      // @apply text-[.9em];
    }

    h4 {
      @extend %notSelectable;

      @apply font-bold text-color-primary;
    }

    .size {
      @apply font-semibold text-color-secondary;
    }
  }

  .controls {
    @extend %flexCenter;

    height: 100%;
    position: relative;

    button.more {
      @apply w-[1.5em] h-[1.5em] rounded-[.2em] bg-tl-hov-bg
             p-[.2em] text-tl-hov-color
             ;
    }

    .menu {
      @extend %notSelectable;

      @apply bg-tl-hov-bg z-[1000] text-[.8em] text-tl-hov-color w-max;

      position: absolute;
      top: 100%;
      right: 0;

      .item {
        @extend %flexCenter;

        @apply px-[.75em] py-[.25em] border-secondary-hover cursor-pointer;

        justify-content: end;
        border-left-width: 3px;

        &.active {
          @apply border-confirm;
        }

        &:hover {
          @apply bg-secondary;
        }
      }
    }
  }
}
